@using PS256K.Models.Identity

@model User

@{
    ViewData["Title"] = "Account";
}

<div class="d-flex justify-content-center">
    <img src="~/avatars/@Model.Avatar" alt="@Model.FullName's avatar" class="rounded-circle object-fit-cover" style="width: 100px; height: 100px; cursor: pointer;" />
</div>
<p class="text-center mb-5">@Model.FullName</p>

<div class="row g-2">
    <div class="col-6 col-md-3 rounded-4 border py-4 px-2">
        <p class="text-center">@Model.Albums.Count albums</p>
    </div>

    <div class="col-6 col-md-3 rounded-4 border py-4 px-2">
        <p class="text-center">@Model.Albums.Sum(a => a.Pictures.Count) pictures added</p>
    </div>

    <div class="col-6 col-md-3 rounded-4 border py-4 px-2">
        
    </div>

    <div class="col-6 col-md-3 rounded-4 border py-4 px-2">
        
    </div>

    <form asp-action="Logout" asp-controller="Auth" method="post">
        <button class="btn btn-danger mx-auto" type="submit">Logout</button>
    </form>
    
    <form asp-action="Delete" asp-controller="Account" method="post">
        <button class="btn btn-outline-danger mx-auto" type="submit">Delete</button>
    </form>
    
</div>