@using PS256K.Models.Gallery

@model List<Album>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Good morning</h1>
    
    @foreach (var album in Model)
    {
        
    }
</div>
