@using PS256K.Models.REST

@model AlbumModel

@{
    ViewData["Title"] = "Create album";
}

<form asp-action="Create" asp-controller="Albums" enctype="multipart/form-data">
    <div class="row gy-5">
        <div class="col-12">
            <input asp-for="Name" class="form-control rounded-0 border-0 border-bottom" style="font-size: 1.5rem; height: 75px;" placeholder="Album name..." />
        </div>

        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary rounded-pill px-3">Create</button>
        </div>
    </div>
</form>
